// Custom CSS
.big-team-member {
  img {
    width: 100%;
    height: 100%;
    max-height: 380px;
  }
}

section#contact {
  background-size: cover;
}

#timeline .timeline {
  > li {
    margin-bottom: 0;
  }
}

.vertical-center {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.service_card {
  margin: 10px;
  background: #ffe5de;
  padding: 10px;
  border-radius: 2px;
}
